<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aunt">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.aunt.AuntApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_explore_blue_50_48dp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="DTjt6Rua8m0ssOZN8kRZAK7UnkIjxfso"/>

        <service
            android:name="com.baidu.trace.LBSTraceService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true" />
        <activity android:name="com.aunt.ui.BaiduMapDetailActivity" />
        <activity android:name="com.aunt.ui.BusActivity" />
        <activity android:name="com.aunt.ui.LoginActivity" />
        <activity android:name="com.aunt.ui.LogoutActivity" />
        <activity android:name="com.aunt.ui.MainActivity"></activity>
        <activity android:name="com.aunt.ui.OfflineMapActivity" />
        <activity android:name="com.aunt.ui.RegisterActivity"/>
        <activity android:name="com.aunt.ui.MessageWallActivity"></activity>
        <activity android:name="com.aunt.ui.MessageDetailActivity"/>
        <activity android:name="com.aunt.ui.BusNumberActivity" />
        <activity android:name="com.aunt.ui.BusDetailActivity" />
        <activity android:name="com.aunt.ui.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>